$base_color:#414141;
.index{
    height: 100%;
    width: 100%;
    background: white;
}
@font-face {
  font-family: 'yofont';
  src: url('http://localhost:9000/media/iconfont/iconfont.woff') format('woff'), url('http://localhost:4000/media/iconfont/iconfont.ttf') format('truetype')
}
