@charset "UTF-8";
html{
    font-size: 31.25vw;
}
.main{
    width: 100%;
    height: 100%;
    @include flexbox();
    @include flex-direction(column);
    .section{
        @include flex();
        width:100%;
<<<<<<< HEAD
<<<<<<< HEAD
        overflow: scroll;
=======
        overflow-y: scroll;
>>>>>>> YOHO-hou
=======
//      height: 60%;
        overflow-y: scroll;
>>>>>>> zzz
    }
    footer{
        width:100%;
        height: .5rem;
        @include border(1px 0 0 0);
        ul{
            height: 100%;
            @include flexbox();
            li{
                @include flex();
                @include flexbox();
                @include flex-direction(column);
                @include justify-content();
                @include align-content();
                height: 100%;
                color: #b0b0b0;
                i,span{
                    text-align: center;
                }
                span{
                    font-size: .12rem;
                }
                i{
                    font-size: .17rem;
                }
                &.active{
                    color: $base_color;
                }
            }
        }
    }
}
