@charset 'utf-8';
$login_border_color:#777;
$lighter_wihte:#EEEEEE;
$weighter_white:#A2A2A2;

%zhanwei1{
    width: 80%;
    height: 50%;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,0);
    background: rgba(255,255,255,0.8);
    color: black;
    font-size: .16rem;
    font-weight: bold;
    text-align: center;
    padding-top: 10%;
    @include border-radius(5px);
}

.registerLoad {
    width: 100%;
    height: 8%;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    background: #101312;
    color: #F9F9FA;
}
#login {
    width: 100%;
    height: 100%;
    background: #444444;
    color: $weighter_white;
    .login-header {
        height: 1.72rem;
        width: 100%;
        background: url(../assets/mine-img/mine-ba.png);
        .login-head {
            height: .52rem;
            @include flexbox();
            @include align-items(center);
            @include justify-content(space-between);
            color: $lighter_wihte;
            text-align: center;
            line-height: .3rem;
            .login-exit {
                border: 1px solid $login_border_color;
                width: .3rem;
                height: .3rem;
                border-radius: 50%;
                margin-left: .12rem;
                font-size: .24rem;
            }
            .login-register {
                margin-right: .08rem;
                width: .5rem;
                height: .28rem;
                border: 1px solid $login_border_color;
                border-radius: 15px;
            }
        }
    }
    .login-pan {
        width: 100%;
        height: 2.15rem;
        @include flexbox();
        @include flex-direction(column);
        position: relative;
        .alert{
            @extend %zhanwei1;
        }
        .login_suc{
            @extend %zhanwei1;
            height: 70%;
            @include flexbox();
            @include flex-direction(column);
            @include justify-content(center);
            @include align-items(center);
            padding-top: 0;
            .login_suc_img{
                width: 100%;
                padding-bottom: .05rem;
            }
            span{
                color: #222;
            }
        }
        form {
            @include flex();
            @include flexbox();
            width: 100%;
            height: 100%;
            @include flex-direction(column);
            @include align-items(center);
            i{
                font-size: .18rem;
            }
            label {
                @include flexbox();
                width: 3.0rem;
                height: .43rem;
                border: 1px solid $login_border_color;
                border-radius: 5px;
                background: #575757;
                margin-bottom: .12rem;
                >input {
                    border: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(87,87,87,0)!important;
                    caret-color:lightgreen;
                }
                >span{
                    width: .36rem;
                    height: 100%;
                    @include flexbox();
                    @include justify-content(center);
                    @include align-items(center);
                }
            }
            .login_active{
                background: #34A74A!important;
            }
            .login-btn{
                margin-top: .05rem;
                width: 3rem;
                height:.45rem;
                border-radius: 5px;
                background: $weighter_white;
                color: $lighter_wihte;
                letter-spacing: .02rem;
                text-align: center;
                line-height: .45rem;
                font-size: .14rem;
            }
        }
        .login-oth{
            width: 100%;
            height: .5rem;
            >ul{
                @include flexbox();
                width: 100%;
                height: 100%;
                >li{
                    @include flexbox();
                    width: 100%;
                    height: 100%;
                    @include justify-content(center);
                    @include align-items(center);
                }
            }
        }
    }
    .login-link{
        >ul{
            width: 100%;
            height: .65rem;
            @include flexbox();
            
            >li{
                @include flexbox();
                @include justify-content(center);
                @include align-items(center);
                width: 100%;
                height: 100%;
                font-size: .24rem;
                color: white;
            }
        }
    }
}