@charset 'utf-8';

$tit_color:#5F5F5F;
$items_color:#909090;
$items_fontsize:.12rem;

input,button{
    border: 0;
    padding: 0;
    margin: 0px;
}

#mine{
    width: 100%;
    background: #F0F0F0;
    .mine-head{
        height: 1.55rem;
        border: 1px solid black;
        color: white;
        @include flexbox();
        @include flex-direction(column);
        width: 100%;
        background: grey;
        .mine-tit{
            width: 100%;
            height: .42rem;
            @include flexbox();
            span{
                @include flex();
                font-size: .16rem;
                @include flexbox();
                @include justify-content(center);
                @include align-items(center);
            }
            i{
                @include flexbox();
                font-size: .24rem;
                @include justify-content(center);
                @include align-items(center);
                @include flex();
            }
        }
        .mine-login{
            @include flex();
            @include flexbox();
            @include justify-content(center);
            @include align-items(center);
            width: 100%;
            button{
                width: 1.1rem;
                height: .36rem;
                @include border(2px 2px 2px 2px ,#DCDFDF);
                background: transparent;
            }
        }
        .mine-items{
             @include flexbox();
            height:.45rem;
            width: 100%;
            background:#111413;
            ul{
                @include flexbox();
                @include justify-content(center);
                @include align-items(center);
                width: 100%;
                height: 100%;
                font-size:.12rem;
                letter-spacing: .01rem;
                color: #C7C7C7;
                i{
                    height: 60%;
                    width: 0;
                    @include border(1px 1px 0 0,#242699);
                }
                li{
                    @inlude flex();
                    @include flexbox();
                    @include justify-content(center);
                    @include align-items(center);
//                  line-height:.45rem;
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }
    .mine-cannel{
        @include flex();
        height: .41rem;
        width: 100%;
        @include flexbox();
        @include align-items(center);
        line-height: .41rem;
        background: white;
        p{
            @include flex();
            margin-left: .14rem;
            color: #5F5F5F;
            height: 100%;
            width:100%;
        }
        .mine-can-item{
            height: 100%;
            width: .8rem;
           text-align: center;
           margin-right: .05rem;
           color:$items_color;
           font-size: .12rem;
           letter-spacing:.01rem;
        }
    }
    .mine-order{
        height: 1.05rem;
        width: 100%;
        @include flexbox();
        @include flex-direction(column);
        margin-top: .1rem;
        background: white;
        .mine-order-tit{
            @include flexbox();
            width: 100%;
            height: .4rem;
            line-height:.4rem;
            p{
                @include flex();
                width: 100%;
                height: 100%;
                margin-left:.14rem;
                color: $tit_color;
            }
            .mine-order-all{
                width: 1rem;
                margin-right:.05rem;
                font-size:$items_fontsize;
                color:$items_color;
                text-align: center;
            }
        }
        .mine-order-items{
            @include flex();
            width: 100%;
//          height: 100%;
            ul{
                width: 100%;
                height: 100%;
                @include flexbox();
                @include border(1px 0 0 0 ,#ccc);
                li{
                    @include flex();
                    width: 100%;
                    @include flexbox();
                    @include align-items(center);
                    @include justify-content(center);
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
            span{
                font-size: $items_fontsize;
            }
        }
    }
    .mine-buy{
        width: 100%;
        height: .8rem;
        @include flexbox();
        @include flex-direction(column);
        margin-top: .1rem;
        .mine-buy-shopping{
            @include flex();
            @include flexbox();
            height: 100%;
            width: 100%;
            line-height: .4rem;
            background: white;
            i:first-child{
                width: .56rem;
                text-align: center;
                color:$items_color;
            }
            span{
                @include flex();
                width: 100%;
            }
            i:last-child{
                width: .28rem;
                margin-right: .05rem;
                color: $items_color;
            }
        }
    }
}
