$baseColor:black;
$fontColor:white;
html{
    font-size:100px;
}
body{
    .section{
        @include flexbox();
        height: 100%;
        .list{
            width: 100%;
            @include flexbox();
            @include flex-direction(column);
            .nav1{
                a{
                    color:$fontColor;
                }
                @include flexbox();
                @include flex-direction(row);
                width: 100%;
                height: .44rem;
                background: $baseColor;
                @include border(0 0 1 0);
                b{
                    margin-left:.08rem;
                    height: 100%;
                    line-height: .44rem;
                };
                ul{
                    @include flexbox();
                    @include flex(row);
                    height: 100%;
                    width: 1.38rem;
                    margin:0 auto;
                    li{
                        font-size: 12px;
                        margin:0 .09rem;
                        height: 100%;
                        line-height: .44rem;
                    }
                    
                }
            }
            .nav2{
                a{color:#a8a8a8;}
                width: 100%;
                @include border(0 0 2px 0,#fbfbfb);
                ul{
                    background: #FFFFFF;
                    @include flexbox();
                    height: 100%;
                    width: 100%;
                    li{
                        @include border(0 0 0 1px);
                        margin: .11rem 0;
                        @include flex(1);
                        text-align: center;
                        font-size: 12px;
                        height: 100%;
                    }
                    li:first-child{
                        @include border(0);
                    }
                    .active{
                        a{
                            color:#000000;
                        }
                    }
                }
            }
        }
        .detail{
            @include flexbox();
            @include flex(1);
            background: #00AFC7;
            width: 100%;
        }
        
    }
}
